/* Général */

body{
    margin: 0%;
    padding:0%;
    background: #f1f1f1;
}

/* Nav */

.navbar-brand {
    font-family: Kaushan Script;
    font-size: 30px;
}

/* HEADER */

header{
    background: url(img/headerImg.jpg);
    height: 80vh;
    background-size: cover;
}
.text-intro{
    padding-top: 200px;
    padding-bottom: 200px;
}
.preTxt{
    font-size: 20px;
}
h1{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    
}

/* TROIS ICONES */

#home-icones{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid black;
}

/* ACTION */

#start{
    position: relative;
    min-height: 200px;
    background: url(img/start.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

#start h2{
    font-style: 40px;
    color: white;
}

/* CLIENTS*/

#clients{
    padding-bottom: 75px;
}
.fab{
    font-size: 25px;
    color: #036;
}
